.main {
  min-height: 100vh;
}

.imageGallery {
  width: 60vw;

  margin: auto;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.delete-btn {
  color: red;
  font-weight: 600;
}

.delete-btn:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

.photo {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: grab;
}

.photo:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.selectImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dotted #ccc !important;
}

.selectImage img {
  width: 40px;
  height: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 8px;
  z-index: 111;
}

.overlay-hd {
  display: none;
}

.overlay-blk {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
}

.photo:hover .overlay:not(.overlay-blk) {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.input {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: none;
  z-index: 1111;
}

.input-hd {
  display: none;
}

.input-blk {
  display: block;
}

.photo:hover .input:not(.input-blk) {
  display: block;
}

@media only screen and (max-width: 900px) {
  .imageGallery {
    width: 80vw;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .imageGallery {
    width: 90vw;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 490px) {
  .imageGallery {
    width: 90vw;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
